<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>Document</title>
</head>
<body>
    <div class="titulo">
        <h1>Nombre de la app</h1>
        <h3>puma</h3>
    </div>
    
    <div class="formu" id="compra1">
        <img src="" alt="">
        <p>Costo:</p>
        <button onclick="compra1()">Pagar</button>
    </div>
    <div class="formu" id="compra2">
        <img src="" alt="">
        <p>Costo:</p>
        <button onclick="compra2()">Pagar</button>
    </div>
    <div class="formu" id="compra3">
        <img src="" alt="">
        <p>Costo:</p>
        <button onclick="compra3()">Pagar</button>
    </div>
    
    <div class="opciones">
        <button>Puma</button>
        <button>Nike</button>
        <button>Adidas</button>
    </div>
    
    <div class="tenis">
        <div class="modelos">
    </div>
    
    <script src="funciones.js"></script>
</body>
</html>